#about {
    padding: 10px;
    margin-top: 0;
    height: 600px;
    margin-bottom: 35px;
}

#about h1 {
    text-align: center;
    padding: 10px;
    border-bottom: none;
    color: rgb(23, 4, 54);
}

#about  ul {
    width: 1200px;
    margin: 20px auto 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    padding: 20px;

    
}

#about li {
    display: flex;
    background-color: rgba(49, 45, 49, 0.8);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 3);
    border-radius: 8px;
    overflow: hidden;
    color: rgb(239, 241, 247);
    padding: 25px;
    border-bottom: 50px;
}

#about li:nth-of-type(3) {
    grid-column: 1/span 2;
}